body {
  padding-top: 55px;
  background: DimGray;
}
.navbar .container {
  width: auto;
}
.navbar {
  font-size: 18px;
}
.navbar-brand {
    line-height: 50px;
}
.navbar-brand > img{
  vertical-align: top;
  display: inline;
  margin-top: -14px;
}
.marg-pad-0{
margin:0px;
padding:0px;
}
.dotted-grey{
border: dotted;
border-width: 6px 4px;
border-radius: 10px;
border-color: SlateGray;
background: Gainsboro;
}
.dotted-grey-top{
border: dotted;
border-width: 6px 0 0 0;
border-radius: 10px;
border-color: SlateGray;
background: Gainsboro;
}
.dotted-grey-topleft{
border: dotted;
border-width: 6px 0 0 4px;
border-radius: 10px;
border-color: SlateGray;
background: Gainsboro;
}
.dotted-grey-topright{
border: dotted;
border-width: 6px 4px 0 0;
border-radius: 10px;
border-color: SlateGray;
background: Gainsboro;
}
.DressUp-height{
  height: 620px;
}
 .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
border:none;
border-radius: 10px;
background: rgba(105, 105, 105, 0.5);
color: black;
}
a, a:visited, a:hover, a:focus, a:active {
    color: black;
    font-weight: bold;
}
.color-Gainsboro{
    background: Gainsboro;
}
.float-images{
    float: left;
    background: rgba(0, 0, 0, 0.08);
    margin-right: 1%;
    margin-bottom: 1%;
}
.set-size-30{
    width: 30px;
    height: 30px;
}
.margin-all-5{
    margin: 5px;
}
.width50-inline{
width: 50%;
display: inline-block;
}
.inline{
display: inline-block;
}
.height-93{
min-height: 93%;
max-height: 93%;
}
.height-84{
min-height: 84%;
max-height: 84%;
}
.height-16{
min-height: 16%;
max-height: 16%;
overflow-y:scroll;
}
.noborder{
border:none;
}
.float-images2{
    float: left;
    background: rgba(0, 0, 0, 0.08);
line-height: 0;
display: block;
}
.float-image-set{
    float: left;
    background: none;
line-height: 0;
display: block;
}
.is25{
  min-width:20%;
  max-width:25%;
  min-height:75px;
}
