.float-images{
    float: left;
    background: rgba(0, 0, 0, 0.08);
    margin-right: 1%;
    margin-bottom: 1%;
}
.float-images2{
    float: left;
    background: rgba(0, 0, 0, 0.08);
line-height: 0;
display: block;
}
.float-image-set{
    float: left;
    background: none;
line-height: 0;
display: block;
}
.is25{
  min-width:20%;
  max-width:25%;
  min-height:75px;
}
.set-size-30{
    width: 30px;
    height: 30px;
}
.marg-pad-0{
margin:0px;
padding:0px;
}
